$primary-color: #237a97;
$link-color: $primary-color;
$color: #333333;
$body-background: #f5f5f5;
$border-color: #cccccc;
$color-default: #cccccc;
$color-success: #005e14;
$background-success: #caebd1;
$color-warning: #c76800;
$color-error: #940303;